* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;

}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#app {
  font-size: 24px;
  padding: 10px 25px;
  text-align: center;
}

#inside.black {
  background-color: black;
  color: white;
}

#inside.white {
  background-color: white;
  color.black;
}
